*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    overflow:hidden
}
 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
} 
header .logo{
    position: relative;
    max-width: 80px;
    margin-left: 20px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    padding: 20px;
    font-weight: 500;
    color: #333333;
}
.content{
    position: relative;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
 .content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.5em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox span{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #017143;
}
.content .textbox p{
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;

}
/* .content .starbucks{
    height: 500px;
position: relative
} */
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #017143;
    border-radius: 40px;
    letter-spacing: 1px;
}
.content .imgbox{
   max-width:600px;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    /* margin-top: 35px; */
    overflow: hidden;
}
.content .imgbox img{
    max-width: 300px;
}
.tambo{
    position: absolute;
    left: 42%;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.tambo  li{
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px;
    transition: 0.5s;
}
.tambo  li img{
   max-width: 60px;
}
.tambo li img:hover{
    transform: translateY(-15px);
}
.circle{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background:#017143;
   clip-path: circle(600px at right 800px);
}
.social{
    position: absolute;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.social li{
    list-style: none;
}
.social li a{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    color: white;
}
 
